.container-banner {
  width: 100%;
  padding: 20px;
}

.banner {
  width: 100%;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
  background: #111;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  scale: 0.7;
}

.swiper-pagination-bullet {
  background: white;
}